* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.board-container {
  height: 100vh;
  min-width: 100wh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


#boardDiv {
  background-color: #ffff;
  border-radius: 10px;
  height: 400px;
  width: 600px;
  cursor: crosshair;
  border: 1px solid black;
}