* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #e9ebee;
}

.board-container {
  height: 60vh;
  min-width: 100wh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


#boardDiv {
  height: 400px;
  width: 600px;
  cursor: crosshair;
}

canvas{
  background-color: #fff;
  border-radius: 10px;
}